<footer class="footer">
  <a class="footer__arrow" href="" title="Inicio de la página"
    ><img src="./assets/images/ico-arrow.svg" alt="botón flecha"
  /></a>
  <nav class="footer__one">
    <ul>
      <li>
        <include src="./footer-links.html" text="Articles"></include>
      </li>
      <li>
        <include src="./footer-links.html" text="Books"></include>
      </li>
      <li>
        <include src="./footer-links.html" text="Events"></include>
      </li>
      <li>
        <include src="./footer-links.html" text="Reasons"></include>
      </li>
      <li>
        <include src="./footer-links.html" text="Tips"></include>
      </li>
    </ul>
  </nav>
  <nav class="footer__two">
    <ul>
      <li>
        <include src="./footer-links.html" text="Twitter"></include>
      </li>
      <li>
        <include src="./footer-links.html" text="Instagram"></include>
      </li>
      <li>
        <include src="./footer-links.html" text="Mastodon.social"></include>
      </li>
    </ul>
  </nav>
  <div class="footer__copyright">
    <small class="footer__copyright--copy">&copy 2020</small>
    <small class="footer__copyright--love">We ❤️ components</small>
  </div>
</footer>
