<main class="main column">
  <article class="main__looking">
    <h6>Insomnia tips</h6>
    <h2>Looking through a window</h2>
    <p>
      Donec accumsan, nulla ut volutpat portitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a
      class="manin__looking--go"
      href="https://adalab.es/"
      title="Go to Adalab"
      target="_blank"
      >Go</a
    >
  </article>
  <secction class="main__reasons">
    <h2>3 reasons to purchase</h2>
    <article class="main__reasons--article1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </article>
    <article class="main__reasons--article2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="main__reasons--article3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a
      href="https://adalab.es/"
      class="main__reasons--button"
      title="Web de Adalab"
      target="_blank"
      >More reasons</a
    >
  </secction>
</main>
