// fonts
$font01: "Roboto", sans-serif;
$font02: "Roboto Slab", serif;

// colors
$color01: #304268;
$color02: #8ccbea;
$color03: #eff9ff;
$color04: #0271bc;
$color-button: #f26002;
$color-text01: #000000;
$color-text02: #4a4a4a;
$color-text03: #ffffff;
