.footer {
  background-color: $color01;
  font-family: $font02;
  text-align: center;
  padding-bottom: 45px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--arrow {
      background-color: $color-text03;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(0, -22px);
      box-shadow: 0 2px 4px 0 $color-text-shadow02;
    }
  }
  &__links {
    @media all and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      text-align: start;
    }
    @media all and (min-width: 1280px) {
      padding: 0 270px;
    }
    &--one {
      padding: 15px 0 30px 0;
      order: 1;
      @media all and (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    &--two {
      padding-bottom: 30px;
      order: 1;
    }
    &--copyright {
      display: flex;
      flex-direction: column;
      order: 0;
      font-size: 14px;
      line-height: 30px;
      color: $color-text03;
    }
  }
}
.footer-link {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-text03;
}
.love {
  text-transform: lowercase;
}
.heart {
  color: $color-button;
}
