.main {
  &__reasons {
    background-color: $color03;
    text-align: center;
    padding-bottom: 60px;
    &--title {
      font-family: $font01;
      font-size: 24px;
      line-height: 30px;
      color: $color-text01;
      font-weight: bold;
      text-transform: capitalize;
      padding: 30px 0 45px 0;
      @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 45px;
      }
      @media all and (min-width: 1280px) {
        font-size: 32px;
        padding-top: 60px;
      }
    }
    &--articleContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 45px 1fr 45px 1fr;
      padding: 0 70px 65px;
      @media all and (min-width: 768px) {
        grid-template-columns: 1fr 27.7px 1fr 27.7px 1fr;
        grid-template-rows: 1fr;
        padding: 0;
      }
      @media all and (min-width: 768px) {
        grid-template-columns: 1fr 26.2px 1fr 26.2px 1fr;
      }
    }
    &--article1 {
      grid-row: 1/2;
      @media all and (min-width: 768px) {
        grid-row: 1/2;
        grid-column: 1/2;
      }
    }
    &--article2 {
      grid-row: 3/4;
      @media all and (min-width: 768px) {
        grid-row: 1/2;
        grid-column: 3/4;
      }
    }
    &--article3 {
      grid-row: 5/6;
      @media all and (min-width: 768px) {
        grid-row: 1/2;
        grid-column: 5/6;
      }
    }
    &--articleTitle {
      font-family: $font01;
      font-size: 18px;
      line-height: 30px;
      color: $color-text01;
      font-weight: bold;
      @media all and (min-width: 768px) {
        font-size: 24px;
        padding-bottom: 14px;
      }
    }
    &--paragraph {
      font-family: $font02;
      font-size: 18px;
      line-height: 30px;
      color: $color-text01;
      @media all and (min-width: 768px) {
        font-size: 20px;
        padding-bottom: 60px;
      }
    }
    &--button {
      font-family: $font02;
      font-size: 20px;
      font-weight: 500;
      line-height: 45px;
      color: $color-button;
      text-decoration: none;
      border: 2px solid $color-button;
      padding: 9px 24px;
      border-radius: 22.5px;
      transition: ease 1s;
      @media all and (min-width: 768px) {
        padding: 9px 31px;
      }
      @media all and (min-width: 1280px) {
        padding: 9px 66px;
      }
    }
    &--button:hover {
      color: $color-text03;
      background-color: $color-button;
    }
  }
}
