.main {
  &__reasons {
    background-color: $color03;
    text-align: center;
    padding-bottom: 60px;
    &--title {
      font-family: $font01;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      text-transform: capitalize;
      padding: 30px 0 45px 0;
      @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 45px;
      }
      @media all and (min-width: 1280px) {
        font-size: 32px;
        padding-top: 60px;
      }
    }
    &--articleContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      padding: 0 70px;
      @media all and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 0;
      }
    }
    &--article {
      @media all and (min-width: 768px) {
        padding: 0 13px;
      }
    }
    &--articleTitle {
      font-family: $font01;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      @media all and (min-width: 768px) {
        font-size: 24px;
        padding-bottom: 14px;
      }
    }
    &--paragraph {
      font-family: $font02;
      font-size: 18px;
      line-height: 30px;
      font-weight: normal;
      padding-bottom: 45px;
      @media all and (min-width: 768px) {
        font-size: 20px;
        padding-bottom: 60px;
      }
    }
    &--button {
      font-family: $font02;
      font-size: 20px;
      line-height: 45px;
      font-weight: 500;
      text-decoration: none;
      color: $color-text03;
      background-color: $color-button;
      border-radius: 22.5px;
      padding: 9px 30px;
      border: 2px solid #f26002;
      transition: ease 1s;
      @media all and (min-width: 768px) {
        padding: 9px 44px;
      }
      @media all and (min-width: 1280px) {
        padding: 9px 66px;
      }
    }
    &--button:hover {
      color: $color-button;
      background-color: $color-text03;
    }
  }
}
