// @import "core/variables";
@import "core/reset";
// @import "components/links";
// @import "layout/page";
// @import "layout/header";
// @import "layout/footer";
// @import "pages/index";

.header {
  background-color: green;
}
.hero {
  background-color: cadetblue;
}
.main {
  background-color: orange;
}
.footer {
  background-color: purple;
}
